CAM/Pharmacy-Vaccines-Lookup.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:as="http://www.oasis-open.org/committees/cam"
 xmlns:camed="http://jcam.org.uk/editor"
 xmlns:dblook="http://jcam.org.uk/DbLookupLists"
 xmlns:look="http://jcam.org.uk/LookupLists"
 xmlns:xs="http://www.w3.org/2001/XMLSchema" version="0.5" elementFormDefault="qualified">
  <xsd:annotation>
    <xsd:documentation>NOTICE: Generated from CAM template by XSLT
                    NOTICE:  This schema is designed to maximize software interoperability and uses basic XSD Schema constructs only.
                     
                    CAM Template Header information: 
                    
                    Description: Pharmacy Vaccines and Operations lookup by ProviderID 
                    Owner: Chicago 
                    Date: 2013-04-03T00:46:00 
                    Version: 0.5 
                    XSD generator: v1.65 
                    NS Mode: true 
                    XSDOutput Mode: default
                    NOTICE: Please refer to the original source owner schema, dictionary, and/or CAM template for updates and changes.
                    NOTICE: For copyright, licensing and use criteria please refer to owner authority.</xsd:documentation>
    <xsd:appinfo source="CAM">Vaccines</xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="Vaccines" id="d2e47">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="PharmacyDetails" minOccurs="1" maxOccurs="1" id="d2e54">
          <xsd:annotation>
            <xsd:documentation>Main pharmacy directory table</xsd:documentation>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="ProviderID" minOccurs="1" maxOccurs="1" id="d2e67">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.ProviderID</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:int">
                    <xsd:totalDigits value="10" />
                    <xsd:fractionDigits value="0" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="XcoordValue" minOccurs="0" maxOccurs="1" id="d2e80">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Xcoord</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="8" />
                    <xsd:fractionDigits value="2" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="YcoordValue" minOccurs="0" maxOccurs="1" id="d2e97">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Ycoord</xsd:documentation>
                </xsd:annotation>
                <xsd:simpleType>
                  <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="8" />
                    <xsd:fractionDigits value="2" />
                  </xsd:restriction>
                </xsd:simpleType>
              </xsd:element>
              <xsd:element name="ProviderName" minOccurs="0" maxOccurs="1" type="ProviderNameDefinition" id="d2e115">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Provider_Name</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProviderStreet" minOccurs="0" maxOccurs="1" type="ProviderStreetDefinition" id="d2e130">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Provider_Street</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="CityName" minOccurs="0" maxOccurs="1" type="CityNameDefinition" id="d2e145">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.City_Name</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="StateCode" minOccurs="0" maxOccurs="1" type="StateCodeDefinition" id="d2e160">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.State_Code</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ZIP" minOccurs="0" maxOccurs="1" type="ZIPDefinition" id="d2e175">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.ZIP</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProviderAddressOther" minOccurs="0" maxOccurs="1" type="ProviderAddressOtherDefinition" id="d2e190">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Provider_Address_Other</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProviderContactEMail" minOccurs="0" maxOccurs="1" type="ProviderContactEMailDefinition" id="d2e206">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Provider_Contact_EMail</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProviderWebsiteURL" minOccurs="0" maxOccurs="1" type="ProviderWebsiteURLDefinition" id="d2e221">
                <xsd:annotation>
                  <xsd:documentation>Website URL</xsd:documentation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Provider_Website_URL</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="ProviderFacilityType" minOccurs="0" maxOccurs="1" type="ProviderFacilityTypeDefinition" id="d2e242">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Provider_Facility_Type</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="LastUpdatedDate" minOccurs="0" maxOccurs="1" type="LastUpdatedDateDefinition" id="d2e257">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Last_Updated_Date</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="FacilityStatus" minOccurs="0" maxOccurs="1" type="FacilityStatusDefinition" id="d2e272">
                <xsd:annotation>
                  <xsd:documentation>verify_CPHARM.Pharmacies.Facility_Status</xsd:documentation>
                </xsd:annotation>
              </xsd:element>
              <xsd:element name="VaccinesDetails" minOccurs="1" maxOccurs="unbounded" id="d2e287">
                <xsd:annotation>
                  <xsd:documentation>Vaccines inventory details</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="VaccineName" minOccurs="0" maxOccurs="1" type="VaccineNameDefinition" id="d2e299">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Vaccines.VaccineName</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="RXrequiredCode" minOccurs="0" maxOccurs="1" type="RXrequiredCodeDefinition" id="d2e314">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Vaccines.RXrequired</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InStockCode" minOccurs="0" maxOccurs="1" type="InStockCodeDefinition" id="d2e331">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Vaccines.InStock</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="VaccineType" minOccurs="0" maxOccurs="1" type="VaccineTypeDefinition" id="d2e348">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Vaccines.VaccineType</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="UniqueID" minOccurs="1" maxOccurs="1" id="d2e364">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Vaccines.UniqueID</xsd:documentation>
                      </xsd:annotation>
                      <xsd:simpleType>
                        <xsd:restriction base="xsd:int">
                          <xsd:totalDigits value="10" />
                          <xsd:fractionDigits value="0" />
                        </xsd:restriction>
                      </xsd:simpleType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="OperationsDetails" minOccurs="1" maxOccurs="1" id="d2e379">
                <xsd:annotation>
                  <xsd:documentation>Facility operational details</xsd:documentation>
                </xsd:annotation>
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="StartDate" minOccurs="0" maxOccurs="1" type="StartDateDefinition" id="d2e392">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.StartDate</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="MondayHours" minOccurs="0" maxOccurs="1" type="MondayHoursDefinition" id="d2e407">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.MondayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="TuesdayHours" minOccurs="0" maxOccurs="1" type="TuesdayHoursDefinition" id="d2e422">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.TuesdayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="WednesdayHours" minOccurs="0" maxOccurs="1" type="WednesdayHoursDefinition" id="d2e438">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.WednesdayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="ThursdayHours" minOccurs="0" maxOccurs="1" type="ThursdayHoursDefinition" id="d2e453">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.ThursdayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="FridayHours" minOccurs="0" maxOccurs="1" type="FridayHoursDefinition" id="d2e468">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.FridayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SaturdayHours" minOccurs="0" maxOccurs="1" type="SaturdayHoursDefinition" id="d2e483">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.SaturdayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="SundayHours" minOccurs="0" maxOccurs="1" type="SundayHoursDefinition" id="d2e498">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.SundayHours</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="OpenHolidaysCode" minOccurs="0" maxOccurs="1" type="OpenHolidaysCodeDefinition" id="d2e513">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.OpenHolidays</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="InsuranceAcceptedText" minOccurs="0" maxOccurs="1" type="InsuranceAcceptedTextDefinition" id="d2e531">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.InsuranceAccepted</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="WalkinsAllowedCode" minOccurs="0" maxOccurs="1" type="WalkinsAllowedCodeDefinition" id="d2e546">
                      <xsd:annotation>
                        <xsd:documentation>verify_CPHARM.Operations.WalkinsAllowed</xsd:documentation>
                      </xsd:annotation>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <!-- Parent complexTypes  -->
  <!-- Local simpleTypes (default namespace)  -->
  <xsd:simpleType name="ProviderIDDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="10" />
      <xsd:fractionDigits value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="XcoordValueDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for XcoordValue.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="8" />
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="YcoordValueDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for YcoordValue.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:decimal">
      <xsd:totalDigits value="8" />
      <xsd:fractionDigits value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProviderNameDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderName.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProviderStreetDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderStreet.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="CityNameDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for CityName.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StateCodeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for StateCode.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="2" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ZIPDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ZIP.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="10" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProviderAddressOtherDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderAddressOther.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProviderContactEMailDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderContactEMail.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="100" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProviderWebsiteURLDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderWebsiteURL.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ProviderFacilityTypeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ProviderFacilityType.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="25" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="LastUpdatedDateDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for LastUpdatedDate.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="FacilityStatusDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for FacilityStatus.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VaccineNameDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for VaccineName.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="45" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="RXrequiredCodeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for RXrequiredCode.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InStockCodeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for InStockCode.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="VaccineTypeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for VaccineType.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="15" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="UniqueIDDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for UniqueID.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:int">
      <xsd:totalDigits value="10" />
      <xsd:fractionDigits value="0" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="StartDateDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for StartDate.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:date" />
  </xsd:simpleType>
  <xsd:simpleType name="MondayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for MondayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="TuesdayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for TuesdayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WednesdayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for WednesdayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ThursdayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for ThursdayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="FridayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for FridayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SaturdayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for SaturdayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="SundayHoursDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for SundayHours.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="20" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="OpenHolidaysCodeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for OpenHolidaysCode.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="InsuranceAcceptedTextDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for InsuranceAcceptedText.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1" />
      <xsd:maxLength value="200" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="WalkinsAllowedCodeDefinition">
    <xsd:annotation>
      <xsd:documentation>The type for WalkinsAllowedCode.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:token">
      <xsd:minLength value="1" />
      <xsd:maxLength value="1" />
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>

